<h1>Your real album</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to album.title , album %></td>
      <td><%= album.description %></td>
    </tr>
  <% end %>
</table>
